
fontSize=18px;

primaryColor = #E46E6E
// 边框颜色，focus焦点颜色
borderActiveColor = #9DE8E6
// 边框颜色
borderColor = alpha(#fff, 0.5)
// 页面背景颜色
backgroundColor = #524B5E
// 框填充颜色
areaColor = #665F73
// 错误提示颜色
warnningColor = #FF7373
// 主要文字颜色
fontColor = #323232
// 辅助文字颜色
modelFontColor = #777777
// 按钮渐变开始
startColor = rgba(234,128,128,0.98)
// 按钮渐变结束
endColor = #F5B271
// 标题背景白色
titleBgColor = #FBFBFB
// 中心分割线
contentBorderColor = #EBEBEB
// 内边框
areaBorderColor = #E9E9E9
//hover渐变背景色
hoverBackgroundColor = linear-gradient(to right , #FBE7E7, #FDF0E3)
// 1px 0.2透明度
borderLine = 1px solid alpha(#fff, 0.2)
// 激活颜色
activeColor = #E98A7B
